@model SimulacionesTorresCastro.Models.Results

@{
    ViewData["Title"] = "Results";
}

<div>

    <table class="table">
        <thead>
            <h1>Results of the last simulation</h1>
        </thead>
        <tbody>
            <div class="container mt-1 mb-3">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <h1 class="card-header">Machine One</h1>
                            <div class="card-text">
                                <h5 class="card-title">Total Constructed Products: </h5>
                                @Html.DisplayFor(model => model.totalConstructedProductsMachine1)
                            </div>
                            <div class="card-text">
                                <h5 class="card-title">Gross total profit: </h5>
                                @Html.DisplayFor(model => model.grossTotalProfitMachine1)
                            </div>
                            <div class="card-text">
                                <h5 class="card-title">Real simulation profit: </h5>
                                @Html.DisplayFor(model => model.realSimulationProfitMachine1)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mb-1">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <h1 class="card-header">Machine Two</h1>
                            <div class="card-text">
                                <h5 class="card-title">Total Constructed Products: </h5>
                                @Html.DisplayFor(model => model.totalConstructedProductsMachine2)
                            </div>
                            <div class="card-text">
                                <h5 class="card-title">Gross total profit: </h5>
                                @Html.DisplayFor(model => model.grossTotalProfitMachine2)
                            </div>
                            <div class="card-text">
                                <h5 class="card-title">Real simulation profit: </h5>
                                @Html.DisplayFor(model => model.realSimulationProfitMachine2)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tbody>
    </table>
</div>